<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>BeamDrop</title>

		<script type="module" src="./support/script.js"></script>
		<link rel="stylesheet" type="text/css" href="./support/style.css" />
	</head>

	<body>
		<form id="drop" enctype="multipart/form-data" action="/beam" method="POST">
			<input type="file" name="beam" id="beam" multiple />

			<div id="beam-upload"></div>

			<label for="beam">Drop file anywhere</label>
		</form>
	</body>
</html>
